body,
p {
    font-family: var(--body_font_family, sans-serif);
    color: var(--body_font_color, black);
    font-style: var(--body_font_style, normal);
    font-weight: var(--body_font_weight, normal);
    text-transform: var(--body_font_transform, none);
    font-size: var(--body_font_size, 16px);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--all_font_family, sans-serif);
    color: var(--all_font_color, black);
    font-style: var(--all_font_style, normal);
    font-weight: var(--all_font_weight, bold);
    text-transform: var(--all_font_transform, none);
}

h1 {
    font-family: var(--h1_font_family, var(--all_font_family, sans-serif));
    color: var(--h1_font_color, var(--all_font_color, black));
    font-style: var(--h1_font_style, var(--all_font_style, normal));
    font-weight: var(--h1_font_weight, var(--all_font_weight, bold));
    text-transform: var(--h1_font_transform, var(--all_font_transform, none));
    font-size: var(--h1_font_size, 2em);
}

h2 {
    font-family: var(--h2_font_family, var(--all_font_family, sans-serif));
    color: var(--h2_font_color, var(--all_font_color, black));
    font-style: var(--h2_font_style, var(--all_font_style, normal));
    font-weight: var(--h2_font_weight, var(--all_font_weight, bold));
    text-transform: var(--h2_font_transform, var(--all_font_transform, none));
    font-size: var(--h2_font_size, 1.5em);
}

h3 {
    font-family: var(--h3_font_family, var(--all_font_family, sans-serif));
    color: var(--h3_font_color, var(--all_font_color, black));
    font-style: var(--h3_font_style, var(--all_font_style, normal));
    font-weight: var(--h3_font_weight, var(--all_font_weight, bold));
    text-transform: var(--h3_font_transform, var(--all_font_transform, none));
    font-size: var(--h3_font_size, 1.17em);
}

h4 {
    font-family: var(--h4_font_family, var(--all_font_family, sans-serif));
    color: var(--h4_font_color, var(--all_font_color, black));
    font-style: var(--h4_font_style, var(--all_font_style, normal));
    font-weight: var(--h4_font_weight, var(--all_font_weight, bold));
    text-transform: var(--h4_font_transform, var(--all_font_transform, none));
    font-size: var(--h4_font_size, 1em);
}

h5 {
    font-family: var(--h5_font_family, var(--all_font_family, sans-serif));
    color: var(--h5_font_color, var(--all_font_color, black));
    font-style: var(--h5_font_style, var(--all_font_style, normal));
    font-weight: var(--h5_font_weight, var(--all_font_weight, bold));
    text-transform: var(--h5_font_transform, var(--all_font_transform, none));
    font-size: var(--h5_font_size, .83em);
}

h6 {
    font-family: var(--h6_font_family, var(--all_font_family, sans-serif));
    color: var(--h6_font_color, var(--all_font_color, black));
    font-style: var(--h6_font_style, var(--all_font_style, normal));
    font-weight: var(--h6_font_weight, var(--all_font_weight, bold));
    text-transform: var(--h6_font_transform, var(--all_font_weight, none));
    font-size: var(--h6_font_size, 14px);
}

a {
    color: var(--links_font_color);
}
a:hover,
a:focus {
    color: var(--links_hover_color);
}

#main-nav>ul.navbar-nav>li>a:not(.btn),
body:not(.theme-preset-active) #masthead .navbar-nav>li>a:not(.btn),
body:not(.theme-preset-active) #masthead .navbar-nav>li>a:not(.btn):hover,
body:not(.theme-preset-active) #masthead .navbar-nav>li.current_page_item>a:not(.btn) {
    font-family: var(--menu_items_font_family, var(--all_font_family, sans-serif));
    color: var(--menu_items_font_color, white);
    font-style: var(--menu_items_font_style, var(--all_font_style, normal));
    font-weight: var(--menu_items_font_weight, var(--all_font_weight, bold));
    text-transform: var(--menu_items_font_transform, var(--all_font_weight, none));
    font-size: var(--menu_items_font_size, 14px);
    opacity:1;
}
#masthead.is-stuck .navbar-nav>li>a:not(.btn),
body:not(.theme-preset-active) #masthead.is-stuck .navbar-nav>li>a:not(.btn),
body:not(.theme-preset-active) #masthead.is-stuck .navbar-nav>li>a:not(.btn):hover,
body:not(.theme-preset-active) #masthead.is-stuck .navbar-nav>li.current_page_item:not(.btn)>a {
    color: var(--scrolling_menu_item_color, var(--menu_items_font_color, #111111));
}
slide-drawer.is-stuck::part(toggle-bar) {
    background-color: var(--scrolling_menu_item_color, var(--menu_items_font_color));
}

.btn {
    font-family: var(--btn_font_family, var(--all_font_family, sans-serif))!important;
    font-style: var(--btn_font_style, var(--all_font_style, normal))!important;
    font-weight: var(--btn_font_weight, var(--all_font_weight, bold))!important;
    text-transform: var(--btn_font_transform, var(--all_font_weight, none))!important;
    font-size: var(--btn_font_size, 14px)!important;
    border-width: var(--btn_border_width, 1px)!important;
    border-radius: var(--btn_border_radius, 4px)!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background: var(--primary_color);
    border-color: var(--primary_color);
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background: var(--secondary_color);
    border-color: var(--secondary_color);
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
    border-color: var(--primary_color);
    color: var(--primary_color);
}
.btn-outline-secondary, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    border-color: var(--secondary_color);
    color: var(--secondary_color);
}


.frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message,
.frm_style_formidable-style.with_frm_style input[type=submit],
.frm_style_formidable-style.with_frm_style .frm_submit input[type=button],
.frm_style_formidable-style.with_frm_style .frm_submit button,
.frm_form_submit_style,
.frm_style_formidable-style.with_frm_style .frm-edit-page-btn{
    background: var(--primary_color);
}

.dropdown-menu .dropdown-item {
    font-family: var(--menu_items_font_family, var(--all_font_family, sans-serif));
    font-style: var(--menu_items_font_style, var(--all_font_style, normal));
    font-weight: var(--menu_items_font_weight, var(--all_font_weight, bold));
    text-transform: var(--menu_items_font_transform, var(--all_font_weight, none));
    font-size: var(--menu_items_font_size, 14px);
}

#masthead .dropdown-toggle::after{
    color: var(--menu_items_font_color);
}
#masthead.is-stuck .dropdown-toggle::after {
    color: var(--scrolling_menu_item_color, var(--menu_items_font_color));
}
#site_logo {
    height: var(--logo_height, 100px);
    padding: 0px 0px;
}

body:not(.theme-preset-active) #masthead .navbar-nav>li>a:not(.btn){
    padding: 0 var(--menu_item_padding, 14px);
}

blockquote p {
    margin: 50px;
    margin-left: 40px;
    border-left: 2px solid var(--primary_color);
    padding-left: 20px;
    font-size: 1.5rem;
    margin-top: 80px;
    margin-bottom: 80px;
}
header#masthead {
    background-color: var(--header_background);
}

.top-bar-content {
    background-color: var(--top_bar_background);
}

#footer_columns {
    background-color: var(--footer_background);
}
#footer_columns * {
    color: var(--footer_content_color);
}

body:not(.theme-preset-active) footer#colophon {
    background-color: var(--copyright_background);
}
body:not(.theme-preset-active) footer#colophon * {
    color: var(--copyright_content_color);
}

/* Header Behavior */

header#masthead{
    padding:0;
    width:100%;
}

header#masthead:not(.is-stuck) {
    box-shadow: none;
}

.sticky_header{
    position:fixed;
    top:0;
    z-index:999;
}

header#masthead.sticky_header.is-stuck {
    background-color: var(--scrolling_header_background);
}
header#masthead.is_transparent {
    background-color: transparent;
}
header#masthead:not(.is_transparent) + #content {
    margin-top: var(--logo_height, 100px);
}
header#masthead.is_transparent + #page_title {
    margin-top: 0px;
    padding-top: var(--logo_height, 100px);
}
.navbar-brand {
    display: flex;
}
header#masthead .navbar-brand a {
    display:block;
    height: var(--logo_height, 100px);
    transition: all 275ms ease-in-out;
}
header#masthead.is-stuck .navbar-brand a {
    height: var(--scrolling_logo_height, 100px);
}
header#masthead #site_logo {
    object-fit: contain;
    height: 100%;
    position:relative;
    top:0;
}
header#masthead #scrolling_site_logo {
    object-fit: contain;
    height: 100%;
    position:relative;
    top:0;
}
header#masthead #site_logo, header#masthead #scrolling_site_logo, header#masthead .navbar-brand .site-title {
    padding-top: var(--logo_padding, 10px);
    padding-bottom: var(--logo_padding, 10px);
}
header#masthead .navbar-brand .site-title {
    line-height: var(--logo_height, 100px);
    transition: line-height 275ms ease-in-out;
}
header#masthead.sticky_header.is-stuck .navbar-brand .site-title {
    line-height: var(--scrolling_logo_height);
}
header#masthead.is-stuck #site_logo {
    height: var(--scrolling_logo_height);
}

slide-drawer::shadow .tkmm-toggle:not(.close) span {
    background-color: white!important;
}

#page_title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
}
.dropdown-menu {
    margin: 0;
    border: 1px solid #dddddd;
    border-top-width: 0px;
    border-radius: 0px;
}
.dropdown:hover .dropdown-menu {
    margin-top: 0;
}
.top-bar-content {
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-bar-content p {
    margin-bottom: 0px;
}

/* Breadcrumbs */
.🍞,
.bread {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.🍞 li,
.bread li {
    display: inline-block;
}

.🍞 li.crumb:last-child a,
.bread li.crumb:last-child a {
    text-decoration: none;
    pointer-events: none;
    color: inherit;
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed;
    }
}

a {
    color: var(--links_font_color, var(--primary_color));
}

.dropdown-item.active, .dropdown-item:active {
    color: #212529;
    opacity: .8;
}
.menu-cart .menu-cart-image {
    max-width: 30px;
    margin-right: 15px;
}
a:hover {
    color: var(--links_hover_color, var(--primary_color));
    text-decoration: none;
    opacity: .8;
}
.menu-cart table, .menu-cart th, .menu-cart td {
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
    color:#565656;
}
.menu-cart th, .menu-cart td {
    padding: 15px;
}
.container {
    max-width: var(--page_container_width);
}
.single-post #page_title .container, .single-post #content.container {
    max-width: var(--blog_container_width);
}
.frm_style_formidable-style.with_frm_style .frm_compact .frm_dropzone.dz-clickable .dz-message, .frm_style_formidable-style.with_frm_style input[type=submit], .frm_style_formidable-style.with_frm_style .frm_submit input[type=button], .frm_style_formidable-style.with_frm_style .frm_submit button, .frm_form_submit_style, .frm_style_formidable-style.with_frm_style .frm-edit-page-btn{
    border:0;
}

.frm_style_formidable-style.with_frm_style .frm-edit-page-btn:hover, .frm_style_formidable-style.with_frm_style input[type=submit]:hover, .frm_style_formidable-style.with_frm_style .frm_submit input[type=button]:hover, .frm_style_formidable-style.with_frm_style .frm_submit button:hover{
    background: var(--primary_color);;
    border:0;
}

.btn, button, .nav-link{
    transition: .25s;
}
:target {
    scroll-margin-top: var(--scrolling_logo_height, 10px);
}
.mega-menu {
    position: inherit;
    width: 100%;
}
.mega-menu .dropdown-menu {
    width: 100%;
}
.mega-menu .dropdown-menu li{
    padding: 20px;
}
.dropdown-menu .container-fluid > .vc_row {
    width: 100%;
}

.dropdown-menu .wpb_single_image, .dropdown-menu .wpb_content_element{
    padding:0;
    margin:0;
}
.vc_row.wpb_row {
    margin-bottom: 0px;
}
.maintenance-mode-section {
    background: var(--maintenance_mode_background, black);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maintenance-mode-section * {
    color: white;
}

::selection {
    background: var(--primary_color);
    color: var(--secondary_color);
}

/* For Mozilla Firefox */
::-moz-selection {
    background: var(--primary_color);
    color: var(--secondary_color);
}

@media all and (max-width: 768px) {
    body,
    p {
        font-size: var(--body_font_size_mobile, 16px);
    }

    h1 {
        font-size: var(--h1_font_size_mobile, 2em);
    }

    h2 {
        font-size: var(--h2_font_size_mobile, 1.5em);
    }

    h3 {
        font-size: var(--h3_font_size_mobile, 1.17em);
    }

    h4 {
        font-size: var(--h4_font_size_mobile, 1em);
    }

    h5 {
        font-size: var(--h5_font_size_mobile, .83em);
    }

    h6 {
        font-size: var(--h6_font_size_mobile, 14px);
    }
}